section(layout='row' flex)
    md-toolbar
        div.md-toolbar-tools
            i.material-icons(ng-click='amc.leftMenu()') menu
            p &nbsp; FFOnline Manager
    md-sidenav.md-sidenav-left.ffo-sidenav(md-component-id='left' md-disable-backdrop md-whiteframe='4')
        md-content(layout-margin)
            md-list(flex)
                md-list-item(ng-click='selectedItem = "Skill"')
                    p Manage Skill
                md-list-item(ng-click='selectedItem = "Race"')
                    p Manage Races
                md-list-item(ng-click='selectedItem = "Player"')
                    p Manage Player
                md-list-item(ng-click='selectedItem = "User"')
                    p Manage Users
                md-list-item(ng-click='selectedItem = "Match"')
                    p Manage Match
                md-list-item(ng-click='selectedItem = "League"')
                    p Manage League
                md-list-item(ng-click='amc.logout()')
                    p Logout
ffom-container(ng-switch='selectedItem')
    manageSkill(ng-switch-when='Skill')
    manageRace(ng-switch-when='Race')
    managePlayer(ng-switch-when='Player')
    manageUser(ng-switch-when='User')
    manageMatch(ng-switch-when='Match')
    manageLeague(ng-switch-when='League')

